body {
  font-size: 18px;
}

ol {
  display: block;
  width: 768px;
  margin: 0 auto;
}

ul {
  padding: 20px 0 0;
  list-style: none;
}

li {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #2196f3;
  transition: color 0.2s linear;
}

a:hover {
  color: #1565c0;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

table,
th, 
td {
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

form {
  padding-bottom: 20px;
}

input {
  padding: 5px;
  font-size: 18px;
}

button {
  padding: 5px 10px;
  font-size: 18px;
}

.button-back {
  padding-bottom: 20px;
}

.desc {
  font-style: italic;
  padding-bottom: 20px;
}

.title {
  font-weight: bold;
  padding-bottom: 20px;
}

.temperature {
  padding-bottom: 20px;
}

.red {
  color: #f44336;
}

input.red {
  border-color: #f44336;
}

.blue {
  color: #2196f3;
}

imput.blue {
  border-color: #2196f3;
}

.input-group {
  padding-bottom: 10px;
}

.input-group label {
  display: block;
}

.search-results .search-results__none {
  display: none;
}

.search-results.search-results--none .search-results__none {
  display: block;
}

.search-results.search-results--none .search-results__table {
  display: none;
}
